* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #EFE2D4;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem;
}

header nav .logo {
    width: 9%;
}

.full-navbar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.full-navbar li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s ease;

}

.full-navbar li a:hover {
    color: green;
}

.full-navbar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

}

.mobile-navbar {
    display: none;
}

.navbar-toggle {
    display: none;
}

.about-hero {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-hero img {
    width: 100%;
    height: 86vh;
    object-fit: cover;
}

.about-hero-content {
    position: absolute;
    text-align: center;
    width: 60%;
}

.about-hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.about-hero-content p {
    font-size: 1.1rem;
    line-height: 1.5;
}


.about-content1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 3.5rem;
    gap: 1rem;
}

.about-content1 h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.about-content1 p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    max-width: 750px;
    color: #99A959;
    font-weight: 600;
}


.about-cards-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    gap: 1.5rem;
}

.about-card {
    border: 2px solid #99A959;
    width: 431px;
    height: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#card2 {
    position: relative;
    top: -2rem;
}

.about-card img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.about-card h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.about-card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555555;
}

.about-content2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 3.5rem;
    gap: 1rem;
    margin-bottom: 2rem;
}

.alternate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.alternate img {
    width: 50%;
    border-radius: 4px;

}

.alternate-text {
    width: 50%;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.alternate-text h3 {
    font-size: 1.65rem;
    font-weight: 700;
}

.alternate-text p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}

.about-content3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 3.5rem;
    gap: 1rem;
    margin-bottom: 2rem;
}

.about-content3 h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.flex-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex-image img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.banner {
    width: 100%;
    /* height: 200px; */
    margin-top: 3rem;
    border-radius: 16px;
    background-color: #CCD4AC;
    padding: 2rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    text-align: center;
}

.banner h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
}

.banner p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #000000;
    font-weight: 500;
    width: 78%;
}

.banner a {
    text-decoration: none;
    width: 25%;
    background-color: #667E06;
    color: white;
    padding: 0.625rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.banner a:hover {
    background-color: #556005;
}

footer {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    padding: 0 3.5rem;
}

footer section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

footer section .footer-logo {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.footer-logo p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #99A959;
}

footer h5 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-contact,
.footer-socials,
footer nav {
    margin-top: 2rem;
}

.footer-navbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-navbar li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-navbar li a:hover {
    color: #99A959;
}

.footer-contact {
    width: 25%;
}

.footer-contact p {
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    display: flex;
    align-items: baseline;
}

.footer-contact p i {
    display: block;
    color: #AF6F28;
}

.footer-socials a {
    text-decoration: none;
    color: #AF6F28;
    font-size: 1.3rem;
    margin-right: 0.2rem;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: #99A959;
}

.footer-credit {
    border-top: 3px solid #444444;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-size: 0.9rem;
    color: #ffffff;
}

.footer-credit i {
    color: #AF6F28;
}




@media screen and (max-width : 800px) {
    .full-navbar img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;

    }


    .about-cards-container {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .about-card {
        width: 300px;
        height: fit-content;
    }

    #card2 {
        top: 0;
    }

    .alternate {
        flex-direction: column;
        gap: 1.5rem;
    }

    .alternate-text {
        width: 100%;
    }

    .alternate img {
        width: 80%;
    }

    #alt2 {
        flex-direction: column-reverse;
    }

    .alternate-text h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .alternate-text p {
        font-size: 0.9rem;
    }

    .flex-image {
        flex-wrap: wrap;
    }

    .banner p {
        width: 100%;
    }

    .banner a {
        width: 40%;
        font-size: 0.9rem;
    }

    .footer-logo p {
        font-size: 0.6rem;
    }

    footer h5 {
        font-size: 1rem;
    }

    .footer-navbar li a {
        font-size: 0.6rem;
    }

    .footer-contact p {
        font-size: 0.6rem;
    }

    .footer-socials a {
        font-size: 1rem;
    }

}





@media screen and (max-width : 500px) {
    header {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        position: relative;
    }

    header nav {
        padding: 0rem;
    }

    header nav .logo {
        width: 20%;
    }

    .full-navbar {
        display: none;
    }

    .mobile-navbar {
        width: 90%;
        background-color: rgba(255, 255, 255, 0.603);
        border-radius: 12px;
        display: none;
        flex-direction: column;
        padding: 1rem;
        list-style: none;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 5rem;
        z-index: 5;
    }

    .mobile-navbar li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 0.9rem;
        transition: color 0.3s ease;

    }

    .mobile-navbar li a:hover {
        color: green;
    }

    .mobile-navbar img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;

    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-toggle a {
        font-size: 1.3rem;
        text-decoration: none;
        color: #000000;
    }

    #hero-ham2{
        display: none;
    }

    .about-hero-content {
        width: 80%;
    }

    .about-hero-content h1 {
        font-size: 2.3rem;
    }

    .about-content1 {
        padding: 2rem 1.5rem;
    }

    .about-content1 h2 {
        font-size: 1.6rem;
    }

    .about-content1 p {
        font-size: 1rem;
    }

    .about-card {
        width: 100%;
    }

    .alternate img {
        width: 100%;
    }

    .about-content2 {
        padding: 2rem 1.5rem;
    }

    .alternate-text h3 {
        font-size: 1.3rem;
    }

    .alternate-text p {
        text-align: justify;
    }

    .about-content3 {
        padding: 2rem 1.5rem;
    }

    .flex-image div {
        width: 100%;
    }

    .about-content3 h2 {
        font-size: 1.6rem;
    }

    .banner {
        padding: 1.5rem;
    }

    .banner h3 {
        font-size: 1.3rem;
    }

    .banner p {
        font-size: 0.9rem;
    }

    .banner a {
        width: 80%;
    }

    footer {
        padding: 2rem 1.5rem;
    }

    footer h5 {
        font-size: 1.2rem;
    }

    footer section {
        flex-direction: column;
        gap: 1.5rem;
    }

    footer section .footer-logo {
        width: 100%;
    }

    .footer-logo p {
        font-size: 0.9rem;
    }

    footer section nav {
        width: 100%;
    }

    .footer-navbar li a {
        font-size: 1rem;
    }

    .footer-contact {
        width: 100%;
    }

    .footer-contact p {
        font-size: 1rem;
    }

}